form {
    background-color: transparent; /* Fundo transparente */
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centralizar o formulário horizontalmente */
    color: white; /* Texto em branco */
  }
  
  /* Estilizando os campos de entrada */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border-bottom: 1px solid rgb(255 255 255); /* Bordas inferiores de 1px sólido branco */
    background-color: transparent; /* Fundo transparente */
    color: white; /* Texto em branco */
    padding: 5px; /* Espaçamento interno */
    width: 100%; /* Largura total */
    margin-bottom: 20px; /* Espaçamento inferior entre os campos */
    outline: none; /* Removendo a borda de foco padrão */
  }
  
  /* Estilizando o botão de envio */
  button[type="submit"] {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    border: none;
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #ccc; /* Mudar a cor de fundo ao passar o mouse */
  }
  
  /* Estilizando o título do formulário */
  h1 {
    color: white; /* Título em branco */
    text-align: center; /* Centralizar o título */
  }