.line{
    background-color:  #293953;
    max-width: 128px;
}

.card1{
    height:360px;
  }

  h3{
    color: #0D1C2E;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    line-height: 30.619px; 
    /* 160% */
    }