.cardServ{
    background-color: #293953;
}

.cardServ2{
    background-color: #ffffff;
   
}

.cardServ2 p{
    color: #293953;
}

h2{

    color: #293953;
    font-size: 56px;
    line-height: 60px; /* 118.519% */
    letter-spacing: 1.374px;
    
    }


